@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-mono: "Inconsolata", monospace;
}
@utility text-preset-1 {
  @apply text-[1.875rem] font-bold leading-[110%];

  @variant md {
    @apply font-mono text-[3.75rem] font-extrabold leading-[110%] tracking-[-1px] text-[#0D0A35];
  }
}
@utility text-preset-3 {
  @apply font-mono text-[1.375rem] font-bold leading-[110%] tracking-[-0.0625rem];

  @variant md {
    @apply text-[1.875rem];
  }
}

@utility text-preset-4 {
  font-family: var(--font-mono);
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03125rem; /* -0.5px */
}
@utility text-preset-5-extrabold {
  font-family: var(--font-mono);
  font-size: 1.25rem; /* 20px */
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -0.01875rem; /* -0.3px */
}
@utility text-preset-5 {
  font-family: var(--font-mono);
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.03125rem; /* -0.5px */
}

@theme {
  --text-preset-6-mobile: 0.875rem;
  --text-preset-6-mobile--line-height: 1.2;
  --text-preset-6-letter-spacing: 0;
  --text-preset-6-mobile--font-weight: 500;
  --breakpoint-ssm: 400px;
}

@utility text-preset-6 {
  font-family: var(--font-mono);
  font-size: var(--text-preset-6-mobile);
  line-height: var(--text-preset-6-mobile--line-height);
  font-weight: var(--text-preset-6-mobile--font-weight);

  @variant md {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 500;
  }
}

@utility text-preset-7 {
  font-family: var(--font-mono);
  font-size: var(--text-preset-7);
  line-height: var(--text-preset-7--line-height);
  letter-spacing: var(--text-preset-7--letter-spacing);
  font-weight: var(--text-preset-7--font-weight);
}
@theme {
  /* Neutral */
  --color-neutral-900: #0d082d;
  --color-neutral-800: #2c284b;
  --color-neutral-700: #4b4869;
  --color-neutral-500: #8784a5;
  --color-neutral-300: #d1d0d5;
  --color-neutral-0: #ffffff;

  /* Orange */
  --color-orange-700: #e1604f;
  --color-orange-500: #f57463;

  /* Gradient */
  --gradient-01: linear-gradient(90deg, #f37362 0%, #ffffff 100%);
  --color-01: linear-gradient(90deg, #f37362 0%, #ffffff 100%);
}

:root {
  --gradient-01: linear-gradient(90deg, #f37362 0%, #ffffff 100%);
}

.gradient-text {
  background: var(--gradient-01);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body {
  min-height: 100vh;
  background-image: url("/images/background-mobile.png");
  background-size: cover;
  background-position: center;
}

.info.not-valid {
  filter: invert(19%) sepia(100%) saturate(5000%) hue-rotate(356deg)
    brightness(97%) contrast(122%);
}

.attribution {
  letter-spacing: 0.5px;
  bottom: 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;

  color: rgb(209, 154, 82);
}

/* Links */
.attribution a {
  margin: 0 0.25rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(210, 93, 50);
}

.attribution a:hover {
  opacity: 0.5;
}

/* Separator dot */
.separator {
  margin: 0 0.5rem;
  opacity: 0.6;
}

@media (min-width: 768px) {
  body {
    background-image: url("/images/background-tablet.png");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("/images/background-desktop.png");
  }
}
